<br>
<div class="main-background">
<div class="jumbotron">
  <h1> Code Overflow </h1>
  <p>Learn, Share, Build <br>
    Code Overflow is a resource for sharing your coding knowledge your developers around the world!</p>
  <p>
    <% if current_user %>
    <%= link_to "Checkout Today's Wikis!", wikis_path, class: 'btn btn-primary' %>
    <% else %>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
    <% end %>
</div></div>

<div class = "main-box">
<div class="row">
  <div class="col-md-12">
    <div class = "main-box-1">
    <h2>Learn and Develop your coding knowledge!</h2>
    <p>Developers from all over the world come to us to solve their biggest coding challenges. Every. Single. Day</p>
    </div>
    <div class = "main-box-2">
    <h2>Insights from the most trusted Developers </h2>
    <p>Harness the wealth of Code Overflow. Insights to make better business decisions</p>
    </div>
    <div class ="main-box-3">
    <h2>Build your Network</h2>
    <p>Connect with the best developer networks around the world!</p>
    </div>
  </div>
</div>
</div>
