<br>
<div class="main-background">
  <div class="jumbotron main-background-2">
    <div class="main-text">
    <h1 class="main-title"> code </h1>
    <h1 class="main-title-2">overflow </h1>
    <div class="main-text-1">Learn, Share, Build <br></div>
    <div class="main-text-2">
      Code Overflow is a resource for sharing your coding knowledge your developers around the world!
    </div>
    <div class="main-login-box">
      <% if current_user %>
        <%= link_to "Checkout Today's Questions!", wikis_path, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to "Log In", new_session_path %> or
        <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
      <% end %>
    </div>
    </div>

  </div>
</div>
<div class = "main-box">
  <div class="row">
      <div class = "col-md-3 main-box-1">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <h2 class ="main-box-text">Learn and Develop your coding knowledge!</h2>
          <p class="main-box-text-desc">Developers from all over the world come to us to solve their biggest coding challenges. </br>Every. Single. Day</p>
      </div>
      <div class = "col-md-3 main-box-2">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <h2 class ="main-box-text">Insights from the most trusted Developers </h2>
          <p class="main-box-text-desc">Harness the wealth of Code Overflow. Insights to make better business decisions</p>
      </div>
      <div class ="col-md-3 main-box-3">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <h2 class ="main-box-text">Build your Network</h2>
          <p class="main-box-text-desc">Connect with the best developer networks around the world!</p>
      </div>
  </div>
</div>

<div class= "main-wikis">

</div>
