// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-comment {
  font-family: 'Roboto';
  font-size: 15px;
  color: black;
}

.form-group{
  display: inline-block;
  width: 80%;
}

.input-field{
  width: 80%;
}
