// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-title {
  margin-top: 100px;
  margin-left: 40px;
}

.log-in-box{
  top: 60px;
  left: 40px;
}
