// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up-box{
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.main-signup-text{
  width: 60%;
  margin-top: 40px;
  background-color: white;
  display: inline-block;
}

.input-field{
  width: 30vw;
  height: 7vh;
}

.input-submit-button{
  width: 30vw;
  height: 7vh;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 20px;
}
