// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main-background-2 {
  background-image: asset-url('background.png');
  text-align: center;
  // color: white;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height:600px;
  top: -10px;
}

.main-signup-text{
  width: 70%;
  margin-top: 40px;
  // padding-top: 11vw;
  background-color: white;
  // padding-bottom: 11vw;
  display: inline-block;
}

.new_user{
  padding-top: 20px;
  padding-left: 10vw;
  margin-left: auto;
  margin-right: auto;
}
