// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-background-2 {
  background-image: asset-url('background.png');
  text-align: center;
  color: white;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height:600px;
  top: -10px;
  left: -0.7%;
}

.main-box{
  width: 100%;
  top: 610px;
  position: absolute;
  background-color: white;
  text-align: center;
  height: 600px;
  color: black;
  font-family: 'Roboto';
  position: absolute;
  width: 100%;
}

.main-text{
  padding-top: 11vw;
  background-color: white;
  padding-bottom: 11vw;
}

.main-text-1 {
  font-size: 3.2vw;
  font-weight: bold;
}

.main-text-2{
  font-size: 2vw;
  padding-left: 30px;
  padding-right: 30px;
}

.main-login-box{
  padding-top: 30px;
  font-size: 2.3vw;
}

.main-box-1, .main-box-2, .main-box-3 {
  margin-top: 25px;
  background-color: rgba(154, 90, 90, 0.15);
  border-radius: 15px;
  width: 80%;
  margin-right: 20px;
}

.main-box-text {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 2.2vw;
  margin-left: 10px;
  margin-right: 10px;
}

.main-box-text-desc {
  font-size: 1.8vw;
}

.main-title {
   color: black;
   font-size: 5vw;
   font-family: 'Abril Fatface';
   display: inline-block;
 }

 .main-title-2 {
    color: white;
    font-size: 5vw;
    font-family: 'Abril Fatface';
    display: inline-block;
  }

.glyphicon {
  font-size: 30px;
  padding-top: 18px;
}
