// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.make-wiki-button {
  position: absolute;
  right: 0;
  top: 60px;
}

.wiki-title{
  border-top: 100px;

  font-size: 33px;
  font-family: 'Roboto';
  font-weight: bold;
}

.comment {
  font-size: 25px;
  color: navy;
}

.create-line {
  border-bottom: solid;
}
